.page {
    margin: 0;
    padding: 0;
    font-family: "Gruppo", Arial, sans-serif;
    font-size: 1em;
    color: black;
}

.container {
    display: grid;
    height: auto;
    grid-template-columns: 32% 68%;
    grid-template-rows: 150% -1% 6%;
    gap: 0 0;
    grid-template-areas:
    "left-info right-info"
    "footer footer";
}

@media only screen and (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "left-info"
          "right-info"
          "footer";
    }

    .top-left {
        display: none;
    }

    .photo-info {
        width: 30vw;
        height: auto;
    }

    .left-info {
        width: 100% !important;
        height: auto !important;
    }

    .education-item {
        font-size: 2.2999vw !important;
        margin: 0 !important;
        margin-top: 10px !important;
    }

    .contact-item {
        font-size: 2.2999vw !important;
        margin: 0 !important;
        margin-top: 10px !important;
    }

    .about-me {
        font-size: 2.2999vw !important;
    }

    .about-info {
        font-size: 2.2999vw !important;
    }

    .skills-info {
        font-size: 2.2999vw !important;
    }

    .experience-info {
        font-size: 2.2999vw !important;
    }

    .code-example {
        font-size: 2.2999vw !important;
    }

    .code-example pre {
        font-size: 2.0999vw !important;
    }

    .languages-info {
        font-size: 2.2999vw !important;
    }

    .work-info {
        font-size: 2.2999vw !important;
    }

    .botnav a {
        font-size: 2.2999vw !important;
    }

    .footer-year {
        font-size: 2.2999vw !important;
    }

    .footer-github {
        font-size: 2.2999vw !important;
    }

}

.left-info {
    display: block;
    width: 80%;
    height: 100%;
    grid-area: left-info;
    background-color: #67aad6;
}

.right-info {
    height: auto;
    min-width: 100%;
    grid-area: right-info;
}

.about-info {
    text-align: justify;
    font-size: 1.5999vw;
    height: auto;
}

.top-left {
    position: absolute;
    top: 3%;
    right: 8%;
    overflow: hidden;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    color: transparent;
    transition: all 1s;
    font-size: 2.9999vw;
    text-decoration: overline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: bold;
}

.top-left:after {
    content: "Andrew Rusinov";
}

.top-left:hover:after {
    content: "Hello everyone!";
    text-shadow:
    -400px 0 rgb(75, 159, 207),
    400px 0 yellowgreen,
    0 0 skyblue;
}

.photo-info {
    display: block;
    margin: 6% 18% 0 18%;
}

.photo-info img {
    position: relative;
    border-radius: 2em;
    border: 1.3vw solid #fafafa;
    border-top-width: 1.6vw;
    border-bottom-width: 1.3vw;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
    -webkit-box-shadow: 0.2em 0.2em 1em 0.3em rgb(14, 163, 201);
    -moz-box-shadow: 0.2em 0.2em 1em 0.3em rgba(45, 227, 240, 0.644);
    box-shadow: 0.2em 0.2em 1em 0.3em rgba(12, 25, 36, 0.527);
}

.contact-info {
    margin: 0;
    margin-left: 18%;
    margin-right: 18%;
    padding: 0;
    font-size: 1.5999vw
}

.contact-item {
    font-size: 1.5999vw;
    margin-bottom: 13%;
    list-style: circle;
    color: rgb(38, 52, 65);
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-stroke-color: black;
}

.contact-item a {
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
    color: #205abd;
}

.contact-item:last-child {
    margin-bottom: 0;
}

.education-info {
    margin: 0;
    margin-left: 18%;
    margin-right: 18%;
    padding: 0;
    font-size: 1.5999vw;
    list-style: circle;
}

.education-item {
    margin-bottom: 18%;
    font-size: 1.5999vw;
    color: rgb(38, 52, 65);
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-stroke-color: black;
}

.education-item a {
    text-decoration: none;
}

.education-item a:hover {
    text-decoration: underline;
    color: #205abd;
}

.education-item:last-child {
    margin-bottom: 0;
}

.about-me {
    height: auto;
    width: auto;
    margin: 0 10% 0 7%;
    padding: 0;
    font-size: 1.5999vw;
}

.skills-info {
    margin: 0 10% 0 7%;
    padding: 0;
    font-size: 1.5999vw;
    list-style: circle;
}

.experience-info {
    margin: 0 10% 0 7%;
    padding: 0;
    font-size: 1.5999vw;
}

.code-example {
    width: 60%;
    margin: 0 10% 0 7%;
    padding: 0;
    font-size: 1.5999vw;
    line-height: 120%;
}

.code-example pre {
    font-size: 1.2vw;
    margin: -2% -2% -2% -19%;
}

.languages-info {
    margin: 0 10% 0 7%;
    padding: 0;
    font-size: 1.5999vw;
    line-height: 120%;
}

.work-info {
    margin: 0 10% 0 7%;
    font-size: 1.5999vw;
    line-height: 120%;
}

.work-info li {
    padding: 0;
    margin: 0;
    line-height: normal;
    list-style: circle;
}

.work-info a {
    text-decoration: none;
}

.work-info a:hover {
    color: #205abd;
}

.work-info img {
    margin-top: -1.5vw;
}

.footer {
    display: grid;
    grid-template-columns: 32% 50% 20%;
    grid-area: footer;
    width: auto;
    height: auto;
    align-items: center;
    padding: 2% 6% 2% 3%;
    color: white;
    background-color: #205abd;
  }

.footer-github {
    font-size: 1.5999vw;
    text-decoration: none;
    width: 20%;
    position: relative;
    padding-left: 10%;
    color: rgb(255, 255, 255);
  }

.footer-github:hover {
    text-decoration: underline;
}

.footer-github::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 46%;
    height: 246%;
    background-size: 3vw 2vw;
    background-image: url("../img/github-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-year {
    padding-top: 1vw;
    margin: 0;
    text-align: center;
    font-size: 1.5vw;
}

.footer-rsschool {
    justify-self: end;
    height: 2em;
}

.botnav a {
    padding-right: 3%;
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}

.botnav a:hover {
    text-decoration: underline;
    color: aqua;
}
