.page {
    min-width: 940px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Gruppo", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: black;
}

.container {
    display: grid;
    height: 100%; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 3.2fr 0.6fr 0.5fr; 
    gap: 0px 0px;
    grid-template-areas: 
    "left-info right-info"
    "left-info right-info"
    "footer footer"; 
}

.left-info {
    display: block;
    min-height: 940px;
    width: 380px;
    height: 100%;
    grid-area: left-info;
    background-color: #718fc4;
}

.right-info {
    height: 100%;
    width: 960px;
    grid-area: right-info;
}

.about-info {
    text-align: justify;
    font-size: 22px;
}

.top-left {
    position: absolute;
    top: 30px;
    left: 90px;
    font-style: italic;
    overflow: hidden;
    text-shadow:
      0 0 rgb(93, 160, 214),
      0 0 yellowgreen,
      0 0 skyblue;
    color: transparent;
    transition: all 1s;
    font-size: 40px;
}

.top-left:hover {
    text-shadow:
    -400px 0 rgb(75, 159, 207),
    400px 0 yellowgreen,
    0 0 skyblue;
}

.photo-info { 
    display: block;
    margin: 20px 60px 0 60px;
}

.photo-info img {
    position: relative;
    border: 20px solid #fafafa;
    border-top-width: 40px;
    border-bottom-width: 20px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
    -webkit-box-shadow: 3px 3px 6px 4px #888;
    -moz-box-shadow: 3px 3px 6px 4px #888;
    box-shadow: 3px 3px 6px 4px #888;
}

.contact-info {
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
}

.contact-item {
    font-size: 18px;
    margin-bottom: 25px;
    list-style: circle;
    color: rgb(38, 52, 65);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.contact-item a {
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-item:last-child {
    margin-bottom: 0;
}

.education-info {
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
    font-size: 22px;
    list-style: circle;
}

.education-item {
    margin-bottom: 25px;
    font-size: 18px;
    color: rgb(38, 52, 65);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.education-item a {
    text-decoration: none;
}

.education-item a:hover {
    text-decoration: underline;
}

.education-item:last-child {
    margin-bottom: 0;
}

.about-me {   
    margin: 0 60px 0 60px;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
}

.skills-info {
    margin: 0 60px 0 60px;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
    list-style: circle;
}

.experience-info {
    margin: 0 60px 0 60px;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
}

.code-example {
    width: 90%;
    margin: 0 60px 0 60px;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
}

.code-example pre {
    margin: -10px -20px -20px -140px;
    font-size: 16px;
}

.languages-info {
    margin: 0 60px 0 60px;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: footer; 
    width: 90%;
    height: 55%; 
    align-items: center;
    padding: 20px 60px 20px 60px;
    color: white;
    background-color: #205abd;
  }

.footer-github {
    text-decoration: none;
    width: 78px;
    position: relative;
    padding-left: 50px;
    color: rgb(255, 255, 255);
  }

.footer-github:hover {
    text-decoration: underline;
}

.footer-github::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 64px;
    height: 64px;
    background-size: 38px 38px;
    background-image: url("../img/github-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-year {
    justify-self: center;
}

.footer-rsschool {
    justify-self: end;
    height: 32px;
}
